<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        <!-- Division A del header -->
        <div class="header1">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo de la empresa">
            </div>
            <div class="barra-de-busqueda">
                <form action="/" method="post" target="_blank">
                    <input type="search" placeholder="Buscar" class="serch">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p><i class="fas fa-hand-holding"></i>compra en cuotas y sin tarjetas de credito</p>
        </div>

        <!-- Division B del header-->
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda oficial</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>   
                
                <li><a href="/crearCuenta"></i>Crea tu cuenta</a> <i class="far fa-id-card"></i></li>
                <!-- <li><a href=""></i>Ingresa</a> <i class="fas fa-sign-out-alt"></i></li> -->
                <li><a style="margin-right: 7px;" href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>

        <!-- Division C del header -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header> 
    <h2>Login</h2>
    <main>
        <form action="/" method="">
            <label for="name">Nombre de usuario</label>
            <input type="text" name="name" id="name" placeholder="Nombre de ususario" required>

            <label for="password">Ingrese su constraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña seleccionado" required>

            <button class="botonSubmit" type="submit"><a class="linkBoton" href="/"><B>INGRESAR</B> </button></a>


        </form>
    </main>
    <footer>
        <h3>Sabe Mas!</h3>
        <section class="footer-section">

            <article class="footer-article">
                <i class="far fa-credit-card icon-footer"></i>
                <p>Pagá con tarjeta o en efectivo</p>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-gift icon-footer"></i>
                <p>Envío gratis desde $ 2.500</p>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield icon-footer"></i>
                <p>Seguridad, de principio a fin</p>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article class="footer-article">

        </section>
        <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>