/************** GENERALES  ***************/

body {
    margin: 0 auto;
    background-color: #ebebeb;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /***************** HEADER ****************/
  
  header {
    background-color: #eac926;
    font-family: "Roboto";
    
  }
  
  /* -- Division A del header -- */
  
  .header1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 50%;
  }

  .logo img {
    width: 80%;
    height: 100%;
    
  }


  .barra-de-busqueda {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  
  form {
    width: 100%;
    margin: 0px 0px 5px 10px;
  }
  
  .serch {
    width: 60%;
    margin-top: 30px;
  }
  
  .header1 p {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  
  /* -- Division B del header -- */
  .navbar {
    display: none;
  }
  
  .navbar ul {
    padding-left: 15px;
  }
  
  /* -- Division C del header -- */
  .fa-bars {
    color: #03264c;
    font-size: 2rem;
    margin-left: 50%;
    margin-bottom: 10px;
  }
      /* ------ */


h2 {
   text-align: center;
   text-transform: uppercase;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    /**** FORM ****/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
 main form {
    width: 80%;
    margin-top: 10px;
    display: block;
    background-color: white ;
    padding: 10px;
    border-radius: 5%;
    border: 1px lightslategrey solid;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    
}


.input {
  width: 85%;
}
input {
    
    margin: 2px 0px 10px 0px;
}

/*input:empty {
  border: 1px rgb(89, 255, 89) solid;
}

 input:hover {
  border: 1px rgb(89, 255, 89) solid;
}

input:required {
  border: 1px rgb(240, 59, 59) solid;
}*/


.sectionA {
    display: block;
}

.sectionB div {
    display: flex;
}

ul {
    padding-left: 10px;
}



.botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botona {
  
  color: white;
  background-color:rgb(88, 91, 252) ;
  transition: all 0.5s;
}

button:hover {
  background-color: rgb(66, 69, 255);
  
}


   /********** MEDIA QUERYS TABLET *******/

@media (min-width: 361px) {
    /* <----------- 361px --------->
  
      
      /****         HEADER        *****/
  
    header {
      width: 100vw;
    }
  
    /* -- Division A del header -- */
  
    .header1 {
      display: flex;
    }
  
  
  
    .logo {
      width: 33.3%;
    }

    .logo img:hover{
      width: 81%;
    }
  
    .barra-de-busqueda {
      display: flex;
      width: 33.3%;
      align-content: center;
    }
  
    .header1 p {
      width: 32%;
      margin-right: 5px;
      font-size: 14px;
    }
  
    /* -- Division B del header -- */
  
    .navbar {
      display: flex;
    }
  
    .serch {
      width: 60%;
      margin-top: 30px;
    }
  
    nav ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      width: 50%;
      padding-left: 30px;
    }
  
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin-left: 3px;
      font-size: 12px;
      transition: all 0.5s;
    }
  
    a:hover,
    a:active {
      font-size: 14px;
      
    }
    
  
    li {
      padding: 5px;
    }
  
    li i {
      font-size: 13px;
    }
  
    /* -- Division C del header -- */
  
    .burger-menu {
      display: none;
    } 


    /***** FORM ****/

    .sectionA {
      display: flex;
  } 

  main form {
    font-size: 16px;
    width: 60%;
  }

 

  }


          /************* MEDIA QUERY DESKTOP **********/

 @media (min-width: 769px) {
    /*** HEADER ***/
  
    .serch {
      width: 80%;
      margin-top: 30px;
    }
  
    .header1 p {
      font-size: 21px;
    }
  
    a {
      font-size: 16px;
      font-weight: bold;
    }
  
    
    a:hover,
    a:active {
      font-size: 17px;
      border: 1px black solid;
      border-radius: 5px;
      padding: 2px;
        }
  
    li i {
      font-size: 16px;
    }
  
    article img {
      width: 90%;
    }


    /*** FORM ***/

main form {
  width: 40%;
  font-size: 18px;

}

.input {
  width: 100%;
}

}