header {
    background-color: #eac926;
    font-family: "Roboto";
  }
  
  /* -- Division A del header -- */
  
  .header1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 50%;
  }
  
  
  .logo img {
    width: 80%;
    height: 100%;
  
  }
  
  
  
  
  .barra-de-busqueda {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  
  form {
    width: 100%;
    margin: 0px 0px 5px 10px;
  }
  
  .serch {
    width: 60%;
    margin-top: 30px;
  }
  
  .header1 p {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  
  /* -- Division B del header -- */
  .navbar {
    display: none;
  }
  
  .navbar ul {
    padding-left: 15px;
  }
  
  /* -- Division C del header -- */
  .fa-bars {
    color: #03264c;
    font-size: 2rem;
    margin-left: 50%;
    margin-bottom: 10px;
  }

  
  /********** MEDIA QUERYS TABLET *******/

@media (min-width: 361px) {
    /* <----------- 361px --------->
  
      
      /****         HEADER        *****/
  
    header {
      width: 100vw;
    }
  
    /* -- Division A del header -- */
  
    .header1 {
      display: flex;
    }
  
  
  
    .logo {
      width: 33.3%;
    }
  
    .logo img:hover{
      width: 81%;
    }
  
    .barra-de-busqueda {
      display: flex;
      width: 33.3%;
      align-content: center;
    }
  
    .header1 p {
      width: 32%;
      margin-right: 5px;
      font-size: 14px;
    }
  
    .serch {
      width: 60%;
      margin-top: 30px;
    }
  
    /* -- Division B del header -- */
  
    .navbar {
      display: flex;
    }
  
  
  
    nav ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      width: 50%;
      padding-left: 30px;
    }
  
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin-left: 3px;
      font-size: 12px;
      font-size: 12px;
      transition: all 0.5s;
    }
  
    a:hover,
    a:active {
      font-size: 14px;
  
    }
  
  
    li {
      padding: 5px;
    }
  
    /* -- Division C del header -- */
  
    .burger-menu {
      display: none;
    }
}

@media (min-width: 769px) {
    /*** HEADER ***/
  
    .serch {
      width: 80%;
      margin-top: 30px;
    }
  
    .header1 p {
      font-size: 21px;
    }
  
    a {
      font-size: 16px;
      font-weight: bold;
    }
  
  
    a:hover,
    a:active {
      font-size: 17px;
      border: 1px black solid;
      border-radius: 5px;
      padding: 2px;
    }
  
  
  
    article img {
      width: 90%;
    }
}