/************** GENERALES  ***************/

body {
  margin: 0 auto;
  background-color: #ebebeb;
  width: 100%;
}

* {
  box-sizing: border-box;
}



/***************** BODY ***************/

.banner {
  width: 100%;
}

article img {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}



/***** MAIN *******/

main {
  width: 100vw;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* Tarjeta de producto completa */
.producto {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.producto:hover {
  background-color: rgb(175, 183, 192);
  box-shadow: 10px 5px 5px gray;

}

/* Info del producto(sin img) */
.info-producto {
  display: none;
}

.titulares {
  font-size: 24px;
}



/********** MEDIA QUERYS TABLET *******/

@media (min-width: 361px) {
  /* <----------- 361px --------->

  /** TARJETA DE PRODUCTOS **/

  .seccion-de-productos {
    display: flex;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }

  .producto {
    width: 48%;
    margin: auto;
    margin-top: 10px;
    transition: all 0.5s;
  }


  .info-producto {

    display: flex;
    padding: 10px 8px 0px 8px;
    align-items: center;
    flex-wrap: wrap;

  }

  .info-producto:hover>.nombre-articulo {
    height: 12vh;
  }

  .nombre-articulo {
    display: flex;
    width: 100%;
    margin: 8px 2px 5px 2px;
    font-size: 14px;
    height: 0vh;
    overflow: hidden;
    Transition: all .5s ease-in-out;
  }

  .camion/* DIV QUE CONTIENE EL ICONO */
    {
    display: flex;
    padding-top: 5px;
    border-top: 1px #ebebeb solid;
    width: 100%;
    justify-content: flex-end;
  }

  .camion:hover>.icono-truck {
    
    animation: buyAmbulance 0.3s infinite;
  }

  /* ICONO */
  .icono-truck {
    font-size: 16px;
    color: green;
    background-color: white;
    width: 34px;
    height: 34px;
    border: 2px solid green;
    padding: 6px;
    border-radius: 28px;
    transform: rotate(0deg);
    }

  

  @keyframes buyAmbulance {
    0% {
      color: green;
      font-size: 17px;
     
    }

    20% {
      transform: rotate(-2deg);
      color: rgb(30, 255, 0);
      font-size: 18px;
      
    }

    40% {
      transform: rotate(-6deg);
      color: rgba(115, 255, 0, 0.877);
    }

    60% {
      transform: rotate(-10deg);
      color: rgb(9, 185, 9);
    }

    80% {
      transform: rotate(-14deg);
      color: rgb(17, 182, 2);
    }

    100% {
      transform: rotate(-20deg);
      color: rgb(19, 141, 3);
    }

  }

  .precio {
    display: flex;
    font-size: 16px;
    width: 30%;
    margin-top: 14px;
    justify-content: flex-start;
    margin-bottom: 2px;
  }

  .descuento {
    display: flex;
    color: green;
    justify-content: flex-start;
    width: 70%;
    margin-top: 12px;
    padding-left: 12px;
    margin-bottom: 0px;
    font-size: 14px;

  }


}

/************* MEDIA QUERY DESKTOP **********/

@media (min-width: 769px) {


  /*** MAIN ***/

  main {
    width: 100vw;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .seccion-de-productos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .producto {

    width: 23%;
    margin: auto;
    margin-top: 10px;
  }

  .precio {
    font-size: 18px;
    width: 40%
  }

  .descuento {
    width: 60%;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
  }

  .info-producto:hover>.nombre-articulo {
    height: 12vh;
  }

  .nombre-articulo {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

}