/************** GENERALES  ***************/

body {
    margin: 0 auto;
    background-color: #ebebeb;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  


  h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 



    /*** FORM ****/
main {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }

 main form {
        width: 80%;
        
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: white ;
        border: 1px lightslategrey solid;
        padding: 10px;
        border-radius: 1%;
        font-size: 16px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    label {
      margin-top: 25px;
    }

    form input {
        margin: 10px 0px 10px 0px
    }

    .linkBoton {
      color: white;
      text-decoration: none;
    }
    main form a:hover {
      padding: 1px;
       border: none;
    }

  
    .botonSubmit {
      
      margin: 30px 10px 10px 10px;
      background-color:rgb(88, 91, 252) ;
      transition: all 0.5s;
    }   

    .botonSubmit:hover {
        background-color: #0022AA;
        
      }



/********** MEDIA QUERYS TABLET *******/

@media (min-width: 361px) {
    /* <----------- 361px --------->
  
      
    /***** FORM ****/
main form {
    font-size: 16px;
    width: 60%;
  }

 
}


 /************* MEDIA QUERY DESKTOP **********/

 @media (min-width: 769px) {
  

    /*** FORM ***/

main form {
  width: 45%;
  font-size: 18px; 

}


  

}